* {
    background: #2D2D2D;
    color: white;
}

.pfont {
    font-family: 'Poppins', sans-serif;
}

h1.title {
    color: white;
    font-size: 4rem;
    padding-left: 8%;
    padding-top: 5%;
}

h1.title:hover {
    text-decoration: underline;
}

.sheets {
    position: absolute;
    top: 30%;
    left: 20%;
    width: 65%;
    display: flex;
    justify-content: space-evenly;
}

.css1:hover {
    border: solid coral;
}

.css2:hover {
    border: solid coral;
}

.css3:hover {
    border: solid coral;
}